body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #918F66;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
}

header h1 {
  margin: 0;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

nav a {
  color: #48432B;
  margin: 0 10px;
  text-decoration: none;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #48432B;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.opacity-animation {
  transition: opacity 0.5s ease-in-out;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.footer a {
  color: #918F66;
  text-decoration: none;
  
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: #333;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

